---
import Button from "./Button.astro";

interface Props {
  img: string;
  altImg: string;
}

const { img, altImg } = Astro.props;
---

<article class="mx-4 mb-4 p-4 rounded-lg bg-white">
  <textarea
    name="txtacomments"
    id="txtacomments"
    class="resize-none border-black border-opacity-25 border rounded-lg p-3 mb-4"
    placeholder="Add a comment..."></textarea>
  <div class="flex items-center justify-between">
    <img src={img} alt={altImg} width="40" height="40" />
    <Button
      text="Send"
      className="border border-black px-4 py-2.5 rounded-md text-white bg-moderate-blue uppercase"
    />
  </div>
</article>

<style>
  textarea {
    width: 100%;
    min-height: 15vh;
  }
</style>
