---
import "@fontsource/rubik/400.css";
import "@fontsource/rubik/500.css";
import "@fontsource/rubik/700.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <section id="comments-global">
        <slot />
      </section>
    </div>
  </body>
</html>

<style is:global>
  :root {
    /* Primary */
    --cl-moderate-blue: hsl(238, 40%, 52%);
    --cl-soft-red: hsl(358, 79%, 66%);
    --cl-light-grayish-blue: hsl(239, 57%, 85%);
    --cl-pale-red: hsl(357, 100%, 86%);

    /* Neutral */
    --cl-dark-blue: hsl(212, 24%, 26%);
    --cl-grayish-blue: hsl(211, 10%, 45%);
    --cl-light-gray: hsl(223, 19%, 93%);
    --cl-very-light-gray: hsl(228, 33%, 97%);
    --cl-white: hsl(0, 0%, 100%);

    /* Font */
    --ft-size: 16px;
    --ft-family: "Rubik", sans-serif;
  }
  html {
    font-family: var(--ft-family), system-ui, sans-serif;
    background: var(--cl-very-light-gray);
  }
  .container {
    margin: 2rem auto;
    background: inherit;
    position: relative;
  }
</style>
